.container {
  display: flex;
  margin: 0 auto;
  width: 100vw;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  flex-direction: column;
  transform: translateY(-60%);
}
.marginText {
  color: #ff6666;
  font-size: x-large;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 5rem;
}
table {
  border-collapse: collapse;
}
th {
  font-size: large;
  border-bottom: 4px solid white;
}

td {
  border-bottom: 1px solid white;
}
td:first-child {
  border-right: 1px solid white;
}
th,
td {
  text-align: center;
  padding: 0.5rem 1.2rem;
  color: white;
  margin: 0;
}
