.App-header{
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  background-color: #006699;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.chart {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  max-width: inherit;
  width: 95%;
  height: 95%;
}

.percentage {
  margin-left: auto;
  margin-right: auto;
}

.custom-tooltip {
  background-color: white;
  padding: 0.5rem 1rem;
  line-height: 0.8;
}

.balance-label {
  color: #82ca9d;
}